@import url('https://fonts.googleapis.com/css?family=Tillana:400,500,600,700');

.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    
}
.backgimg {
    background: url("img/Food.jpg");
    background-repeat: no-repeat;
    padding-bottom: 20em;
    
}

.mycontent {
    font-family: 'Tillana', cursive;
    background: #ffffff7d;
    border-radius: 5px;
    display: block;
    width: 70%;
    margin: 100px auto 0px;
    padding: 5px;
    color: black;
    text-align: center
    
}
.register{
    width: 40%;
    font-size: 20px;
    text-align: center
}

.formsave{
    font-size: 20px;
    
}

.title{
    font-family: 'Tillana', cursive;
    color: rgb(65, 65, 247);
    font-size: 20px;
    text-align: right

}
.menu{
    color:#007bff;
}
.paginate{
    display:inline-flex
}
#button{
    margin-left: 60em;
}
.card{
    margin: 0.7em auto;
}